body {
  margin: 0;
  overflow: hidden; /* Prevents scrollbars */
  background-color: black;
}

#globeViz {
  width: 100vw;
  height: 100vh;
}

/* IMPORTANT: This centers the marker on the lat/lng point */
.marker-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto !important;
  cursor: pointer;
}

.pulse {
  color: white;
  /background-color: rgba(233, 237, 233, 0.2);
  border-radius: 8px;
  padding: 4px 8px;
  font-family: sans-serif;
  font-size: 12px;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-icon {
  width: 40px;
  height: auto;
  margin-bottom: 5px; /* Icon above the text */
}

/* Ensure the marker container allows clicking */
#globeViz > div:nth-child(2) {
  pointer-events: none !important;
  z-index: 10;
}
#projects_card {
  width: 300px;
  height: fit-content;
  position: absolute;
  background-color: white;
  z-index: 10;
  top: 50%;
}
